@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

:root{
    --light-shades: #ECEDE9;
    --light-accent: #8F98A3;
    --main-brand: #775D56;
    --dark-accent: #878782;
    --dark-shades: #1C1C22;
}

*{
    font-family: 'SourceCodePro';
    color: var(--dark-shades);
}

h1{
    font-family: 'BebasNeue';
}

h2{
    font-family: 'BebasNeue';
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--main-brand);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    flex-wrap: wrap;
    background-color: var(--light-shades);
    border: var(--dark-shades) 3px solid;
}

nav{
    width: 100%;
    background-color: var(--light-accent);
}

nav ul{
    display: block;
    list-style-type: none;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav ul li a:hover{
    color: var(--light-shades);
    background-color: var(--dark-shades);
}
main{
    margin: 12px;
}

.flex{

    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

#headshot{
    width: 50%;
    object-fit: contain;
    border-radius: 20px;
}

#work {
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.workLink{
    width: 250px;
    object-fit: contain;
    border: var(--dark-shades) 4px solid;
}

.piece{
    padding: 10px;
    text-align: center;
}

footer{
    background-color: var(--dark-shades);
    width: 100%;
    text-align: center;
}
footer p{
    color: var(--light-shades);
}